// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.box {
  display:block;
  /* Padding Top, Right, Bottom, Left */
  padding: 10px 20px 10px 10px;
  background: #ddeae7;
}